<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-light col-md-3 col-xs-12">
    @Html.Partial("_Chat")
</aside>
<!-- /.control-sidebar -->
<!-- Add the sidebar's background. This div must be placed
           immediately after the control sidebar -->
<div class='control-sidebar-bg'></div>
