@model WebApp.Models.ForgotPasswordModel
@{
    ViewBag.Title = "Quên mật khẩu";
    Layout = "_LayoutAccount.cshtml";    
}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                @using (Html.BeginForm())
                {
                    <div class="panel-body">
                        <div class="text-center">
                            <h2>Quên mật khẩu</h2>
                            Dùng mẫu dưới để lấy lại mật khẩu tạm. 
                        </div>
                        <div style="padding-top: 2px;"></div>
                        <div class="text-center">
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "Yêu cầu mật khẩu tạm không thành công. Xin vui lòng sửa lỗi và thử lại. ")
                        </div>

          @*              <div style="padding-top: 2px;"></div>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                            <input name="UserName" type="text" class="form-control" placeholder="Tên người dùng" required autofocus>
                        </div>
                        @Html.ValidationMessageFor(m => m.UserName, null, new { @class = "label label-warning" })
*@

                        <div style="padding-top: 2px;"></div>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope fa-fw"></i></span>
                            <input name="Email" type="text" class="form-control" placeholder="Email" required autofocus>
                        </div>
                        @Html.ValidationMessageFor(m => m.Email, null, new { @class = "label label-warning" })
                        <div style="padding-top: 2px;"></div>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Gửi lại mật khẩu tạm</button>
                    </div>
                }


            </div>
        </div>
    </div>
</div>

