@{
    ViewBag.Title = "Đăng ký đã thành công";
    Layout = "_LayoutAccount.cshtml";    
}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="content-wrapper" style="text-align: center;">
                <h2>Đăng ký đã thành công</h2>
                <p>Mã xác nhận đã được gửi tới email của bạn.</p>
                <p>Xin vui lòng kiểm tra lại email. </p>
            </div>
        </div>
    </div>
</div>


