<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="/Content/themes/accounting/Print.css?ver=1504272" rel="stylesheet"/>

    @*@Scripts.Render("~/bundles/jquery")*@
</head>

<body>
    @RenderBody()
</body>
</html>
