@model Dictionary<string, string>
@{
    if (!Model.ContainsKey("save-new-action"))
    { Model.Add("save-new-action", "Create"); }
    if (Model["action-return"] == null)
    { Model["action-return"] = "Index"; }

    bool isnoaction = Model["action-return"].ToString().Equals("noaction");

    string ajaxstring = string.Format("data-ajax-update=#{0} ", Model["ajaxupdateid"]);
    ajaxstring += "data-ajax-mode=replace ";
    ajaxstring += "data-ajax-method=GET ";
    ajaxstring += string.Format("data-ajax-loading=#{0} ", Model["ajaxloadingid"]);
    ajaxstring += "data-ajax=true ";
}
<div class="" role="toolbar">
    <div class="sv-toolbar-list-update">
        <input id="sv-toolbar-save-action-return" name="action_return" type="hidden" value="@Model["action-return"]" />

        <button id="sv-toolbar-save-close" class="btn btn-primary btn-flat" type="button" onclick="sv_toolbar_update_submit_save_close(this);">
            <span class="fa fa-save"></span>&nbsp;Lưu & đóng
        </button>

        @if (!isnoaction)
        {
            <a class="btn btn-default" id="sv-toolbar-save-new" href="javascript:void(0);" onclick="sv_toolbar_update_submit_save_new(this);"><i class="fa fa-save">&nbsp;</i><i class="fa fa-plus"></i>&nbsp;Lưu & mới</a>
        }

    </div>
</div>

<script type="text/javascript">

    function sv_toolbar_update_submit_save_new(a) {
        $(a).closest('div').find("#sv-toolbar-save-action-return").val("@Model["save-new-action"]");
        $(a).closest('form').submit();
    };

    function sv_toolbar_update_submit_save_close(a) {
        //alert('chuoi');
        $(a).closest('form').submit();
        $("#senvietpopup").modal("hide");
    };

    $(document).ready(function () {
        $("#@(Model["ajaxupdateid"]) input:enabled:visible:first").focus();
    });
</script>
